fieldset{
    margin: 0;
    padding: 10px 18px;
    margin-bottom: 30px;
}

.snacks{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: -10px;
}

.snack{
    display: block;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #860000;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;


}

.snack:nth-child(4n+4){
  margin-right: 0px;
}

.snack img{
    display: block; 
    width: auto;
    height: 200px;
    margin: 0 auto;
    max-width: 200px;
}

.tickets{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: -20px;
}

.ticket{
    display: block;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ticket:nth-child(4n+4){
  margin-right: 0px;
}

.ticket img{
    display: block; 
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.price{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



.buttons{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button{
    padding: 10px 50px;
    font-size:20px;
}


.fee{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color:red;

}
.row{
    display: flex;
    margin-bottom: 20px;
    margin-right: 50px;
}
.col{
    margin-right:10px;
}

.crdt_details label{
    display: inline-block;
    width:200px;
    text-align: right;
    margin-right: 3px;
}

.crdt_details input{
    display: inline-block;
    width:200px;
}

.crdt_details select{
    display: inline-block;
    width: 204px;
    height: 21px;
}

.crdt_details fieldset{
    padding-top: 20px;
    padding-bottom: 25px;
}


.button + .button{
    margin-left:100px;
}



